<!DOCTYPE html>
<html>

<head>
    <title> Covid Tracker- Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="topnav">
        <a class="active" href="/profile">Home</a>
        <a id="logout" href="/logout">logout</a>
    </div>
    <div class="main-body">
        <div class="user-profile-table">
            <h1>My Profile</h1>
            <table>
                <thead>
                    <tr>
                        <th id="column">Name </th>
                        <th id="column">Vaccination Status</th>
                        <th id="column">Vaccine</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= profile.name %>
                        </td>
                        <td>
                            <%= profile.vaccination_status %>
                        </td>
                        <td>
                            <%= profile.vaccine %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a class="button" id="edit-profile" href="/profile/edit/<%=profile._id%>">Update Vaccination Status</a>
        </div>
        <br>
        <p><strong>COVID-19 Tests:</strong></p>
        <div>
            <a class="button" id="new-test-button" href="/tests/new/<%=profile._id%>">Add new test</a>
        </div>
        <br>
        <% if (profile.tests.length) { %>
            <%profile.tests.forEach(function (t){%>
                <div class="test-info"><strong> Date Tested:</strong>
                    <%=t.date_tested%>
                </div>
                <a id="test-details" href="/tests/<%=t._id%>/show">test details</a>
                <br>
                <%})%>
                    <% } else { %>
                        <div>No tests yet</div>

                        <%} %>



    </div>
</body>

</html>